name: Response Time CI
on:
  schedule:
    - cron: "*/5 * * * *"
  repository_dispatch:
    types: [response_time]
  workflow_dispatch:
jobs:
  release:
    name: Check status
    runs-on: ubuntu-latest
    steps:
      - name: Generate app token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}
          persist-credentials: false
      - name: Setup credentials to access github using app-token
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf https://github.com/
      - name: Update response time
        uses: upptime/uptime-monitor@v1.40.1
        with:
          command: "response-time"
        env:
          GH_PAT: ${{ steps.app-token.outputs.token }}
          SECRETS_CONTEXT: ${{ toJson(secrets) }}
